julioStyle {
  background-color: yellow;
}

.toDoInput {
  text-align: left!important;
}
#divCreateTodo {
  margin-bottom: 20px !important;
}
h3
{
  padding-left: 20px;
  padding-top: 20px;
}
.title{
  height: 230px;
}
.content{
  height: 300px;
}
.pt-6{
  padding-top: 5rem;
  padding-right: 20px;
}
p{
  color: black;
}
.icon{
  width: 10px;
  height: 10px;
}
.content:hover {
    filter: brightness(85%);
}
.text{
  font-size: 60px;;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.underTit {
  font-size: 20px;
}

.customListCont {
  border-radius: 5px;
}
